body
  background-image: url('../images/bg.jpg')
  // 背景图片位置固定
  background-attachment: fixed
  // 背景图片不要重复
  background-repeat: no-repeat
  background-position: center center
  // 背景覆盖整个viewport
  background-size: cover
  background-color: #fff